<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title> {% block title %} {% endblock %} | UwU News </title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.0/css/foundation.css">
    <style>
    .top-bar {
      width: 100%;
      position: fixed;
      z-index: 1;
    }
	</style>
	<script src="skycons.js"></script>
  </head>
   <body>
     <div class="top-bar is-at-top">

       <div class="top-bar-left">
         <ul class="menu">
           <a href="/">Home</a>
           {% if li %}
	   <li>
             <a href="/settings">Settings</a>
           </li>
           <li>
             <a href="/logout">Logout</a>
           </li>
           {% else %}
           <li>
             <a href="/login">Login</a>
           </li>
           <li>
             <a href="/signup">Sign up</a>
           </li>
           {% endif %}
         </ul>
       </div>

       <div class="top-bar-right">

         <form action="/" method="GET">
           <ul class="menu">
             <li>
               <input type="text" name="search" placeholder="News Search">
             </li>
             <li>
               <input type="text" name="searchLoc" placeholder="Weather Search">
             </li>
             <li>
               <button type="submit" class="button" name="search">Search</button>
             </li>
           </ul>
         </form>

       </div>

     </div>
     {% block content %}
    {% endblock %}
    {% block footer %}
    <br><hr>
    <p align="center">Copyright happy feet &copy 2018</p>
    {% endblock %}
   </body>
</html>
