{% extends "base.html" %}

{% block title %}
	Home
{% endblock %}

{% block content %}
		<h1 align="center"> UwU News </h2>

			<div class="grid-x grid-padding-x">
				<div class="large-12 cell">


					<div class="top-bar">

						<div class="top-bar-left">
							<ul class="menu">
								<li>
									<a href="/login">Login</a>
								</li>
								<li>
									<a href="/signup">Sign up</a>
								</li>
							</ul>
						</div>

						<div class="top-bar-right">

							<form action="/">
								<ul class="menu">
									<li>
										<input type="text" name="search" placeholder="News Search">
									</li>
									<li>
										<button type="submit" class="button" name="button">Search</button>
									</li>
								</ul>
							</form>

						</div>

					</div>
					<hr>

					{% if hasMsg %}
					<div class="{{type}} callout">
						{{msg}}
					</div>
					<hr>
					{% endif %}

					<div class="grid-x grid-padding-x">

						<div class="small-3 cell">
							<h2>Weather</h2>
						</div>

						<div class="medium-6 cell">

							{% for key, value in d.items() %}
							<div class="primary callout">
								<a href="{{ value }}">{{ key }}</a>
							</div>
							{% endfor %}
						</div>

						<div class="small-3 cell">
							<h4>Fortune says,</h4>
							<blockquote>
								{{q}}
								<cite>
									{{c}}
								</cite>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
{% endblock %}
