{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div id="wrapper">

  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <br><br><br>
      <h1 align="center"> UwU News </h1>
      <hr>

      {% if m != '' %}
      <div class="{{t}} callout">
	<h4 style="text-align: center;">{{m}}<em>{{k}}</em></h4>
      </div>
      <hr>
      {% endif %}

      <div class="grid-x grid-padding-x">

	<div class="small-3 medium-3 cell">
	  <h4>Fortune says,</h4>
	  <blockquote>
	    {{q}}
	    <cite>
	      {{c}}
	    </cite>
	  </blockquote>
	  <hr>
	  {% for l in fd %}
	  <div class="primary callout">
		  <h3>Weather for <a href="/weather/{{ l }}">{{l}}</a> <br> Picked up by API as {{ loc }}
		</h3>
			    <div class="secondary callout">
	      <p> {{ fd[l] }} </p>
	    </div>
	  </div>
	  {% endfor %}
	</div>

	<div class="medium-6 large-6 cell">

	  {% for key, value in d.items() %}
      {% if key != '' %}
  	  <div class="primary callout">
  	    <a href="{{ value }}">{{ key }}</a>
  	  </div>
      {% endif %}
	  {% endfor %}
	</div>

	<div class="small-3 medium-3 cell">

	  {% if li %}

	  <h4>Hello, <em>{{u}}</em>!</h4>
	  <h5>Tags: click on them to search for news</h5>
	  <ul>
	    <form action="/" method="GET">
	      {% for tag in s['tags']%}
	      <li><button type="submit" class="large label" name="search" value="{{tag}}">{{tag}}</button></li>
	      {% endfor %}
	    </form>
	  </ul>
	  <form action="/" method="GET">
	    <input type="text" name="newTag">
	    <button type="submit" class="small secondary button">Add Tag</button>
	  </form>
	  <h5>Locations: weathers displayed on the left</h5>
	  <ul>
	    <form action="/" method="GET">
	      {% for loc in s['locations']%}
	      <li><span class="large label">{{loc}}</span></li>
	      {% endfor %}
	    </form>
	  </ul>
	  <form action="/" method="GET">
	    <input type="text" name="newLoc">
	    <button type="submit" class="small secondary button">Add Location</button>
	  </form>
	  {% else %}
	  <div class="warning callout">
	    <h3>Login to display user info.</h3>
	  </div>
	  {% endif %}
	</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
