{% extends "base.html" %}

{% block title %}
	Home
{% endblock %}

{% block content %}
	<div id="wrapper">

		<div class="grid-x grid-padding-x">
			<div class="large-12 cell">
				<br><br><br>
				<h1 align="center"> UwU News </h1>
				<hr>

					{% if m != '' %}
					<div class="{{t}} callout">
						<h4 style="text-align: center;">{{m}}</h4>
					</div>
					<hr>
					{% endif %}

					<div class="grid-x grid-padding-x">

						<div class="small-3 cell">
							<h2>Weather</h2>
							<h3>Weather for Brooklyn, NY</h3>
							<h4> {{ daily_summary }} </h4>
						</div>

						<div class="medium-6 cell">

							{% for key, value in d.items() %}
							<div class="primary callout">
								<a href="{{ value }}">{{ key }}</a>
							</div>
							{% endfor %}
						</div>

						<div class="small-3 cell">
							<h4>Fortune says,</h4>
							<blockquote>
								{{q}}
								<cite>
									{{c}}
								</cite>
							</blockquote>
							{% if li %}
							<hr>
							<h4>Hello, <em>{{u}}</em>!</h4>
							<h5>Tags:</h5>
							<ul>
								<form action="/" method="GET">
								{% for tag in s['tags']%}
									<li><button type="submit" class="tiny button" name="search" value="{{tag}}">{{tag}}</button></li>
								{% endfor %}
								</form>
							</ul>
							<form action="/" method="GET">
								<input type="text" name="newTag">
								<button type="submit" class="small secondary button">Add Tag</button>
							</form>
							<h5>Locations:</h5>
							<ul>
								<form action="/" method="GET">
								{% for loc in s['locations']%}
									<li><button type="submit" class="tiny button" name="search" value="{{loc}}">{{loc}}</button></li>
								{% endfor %}
								</form>
							</ul>
							<form action="/" method="GET">
								<input type="text" name="newLoc">
								<button type="submit" class="small secondary button">Add Location</button>
							</form>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
