{% extends "base.html" %}

{% block title %}
	Login
{% endblock %}

{% block content %}
<h1 align="center"> LOGIN PAGE </h1>
<hr>
<div class="grid-x grid-padding-x">
  <div class="small-2 cell"></div>
  <div class="large-8 cell">
    {% if hm %}
    <div class="{{t}} callout">
      <h4 style="text-align: center;">{{msg}}</h4>
    </div>
    <hr>
    {% endif %}
		<div class="warning callout">
  		<div class="grid-x grid-padding-x">
				<div class="medium-8 cell">
		      <div class="primary callout">
		        <form action = "/loginauth" method = "POST">
		          <input type = "text" name = "username" placeholder="Username">
		          <input type = "password" name = "password" placeholder="Password">
		          <button type="submit" class="button" name="sub">Submit</button>
		       	</form>
		      </div>
		    </div>

		    <div class="small-4 cell">
		      <h4>Do not have an account?</h4>
		      <h4>Sign up <a href="/signup">here</a>!</h4>
		    </div>
			</div>
		</div>
	</div>
  <div class="small-2 cell"></div>
</div>
{% endblock %}
