<!DOCTYPE html>
<html>
  <head>
    <title> SIGNUP </title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.0/css/foundation.css">
  </head>

  <body>
    <h1 align="center"> SIGN UP PAGE </h1>
    <hr>

    <div class="grid-x grid-padding-x">
      <div class="small-2 cell"></div>
      <div class="large-8 cell">
        <div class="success callout">
          <h4 style="text-align: center;">You have successfully signed up! Click <a href="/login">here</a> to login.</h4>

        </div>
      </div>
      <div class="small-2 cell"></div>
    </div>

  </body>
</html>
