{% extends "base.html" %}

{% block title %}
Weather For {{lo}}
{% endblock %}

{% block content %}

<div id="wrapper">

  <div class="grid-x grid-padding-x">
    <div class="large-12 medium-12 small-12 cell">
      <br><br><br>
      <h1 align="center">Forecast for {{lo}}</h1>
      <hr>

      {% if m != '' %}
      <div class="{{t}} callout">
	<h4 style="text-align: center;">{{m}}<em>{{k}}</em></h4>
      </div>
      <hr>
      {% endif %}

      <div class="grid-x grid-padding-x">
	<div class="small-12 medium-12 large-12 cell">
	  <div class="primary callout">
	    {{ds}}
	    <br>
	    It is currently: {{ct}}&#8457;
	    <br>
	    It feels like: {{at}}&#8457;
	  </div>
	  <div class="primary callout">
	    <div class="grid-x grid-padding-x">

	      <div class="small-2 medium-2 large-2">
		{{fds[0]}}
		<br>
		{{fdpc[0]}} chance for {{fdpt[0]}}
		<br>
		Temperature high: {{fdt[0]}}&#8457;
		<br>
		Temperature low: {{fdat[0]}}&#8457;
	      </div>

	      <div class="small-2 medium-2 large-2">
		{{fds[1]}}
		<br>
		{{fdpc[1]}} chance for {{fdpt[1]}}
		<br>
		Temperature high: {{fdt[1]}}&#8457;
		<br>
		Temperature low: {{fdt[1]}}&#8457;
	      </div>

	      <div class="small-2 medium-2 large-2">
		{{fds[2]}}
		<br>
		{{fdpc[2]}} chance for {{fdpt[2]}}
		<br>
	   Temperature high: {{fdt[2]}}&#8457;
		<br>
		Temperature low: {{fdt[2]}}&#8457;
	      </div>

	      <div class="small-2 medium-2 large-2">
		{{fds[3]}}
		<br>
		{{fdpc[3]}} chance for {{fdpt[3]}}
		<br>
		Temperature high: {{fdt[3]}}&#8457;
		<br>
		Temperature low: {{fdt[3]}}&#8457;
	      </div>

	      <div class="small-2 medium-2 large-2">
		{{fds[4]}}
		<br>
		{{fdpc[4]}} chance for {{fdpt[4]}}
		<br>
		Temperature high: {{fdt[4]}}&#8457;
		<br>
	   Temperature low: {{fdt[4]}}&#8457;
	      </div>

	      <div class="small-2 medium-2 large-2">
		{{fds[5]}}
		<br>
		{{fdpc[5]}} chance for {{fdpt[5]}}
		<br>
		Temperature high: {{fdt[5]}}&#8457;
		<br>
		Temperature low: {{fdt[5]}}&#8457;
	      </div>

	    </div>
	  </div>
	</div>


      </div>
    </div>
  </div>
</div>

{% endblock %}
