{% extends "base.html" %}

{% block title %}
Weather For {{lo}}
{% endblock %}

{% block content %}

<div id="wrapper">

  <div class="grid-x grid-padding-x">
    <div class="large-12 medium-12 small-12 cell">
      <br><br><br>
      <h1 align="center">Forecast for {{lo}}</h1>
      <hr>

      {% if m != '' %}
      <div class="{{t}} callout">
	<h4 style="text-align: center;">{{m}}<em>{{k}}</em></h4>
      </div>
      <hr>
      {% endif %}

      <div class="grid-x grid-padding-x">
	<div class="small-3 medium-3 large-3 cell">
	  {% for l in fd %}
	  <div class="primary callout">
	    <h3>Today's forecast</h3>
	    <div class="secondary callout">
	      <p> {{ fd[l] }} </p>
	    </div>

	    <script>
	      var skycons = new Skycons();
	      skycons.add("icon1", Skycons.PARTLY_CLOUDY_DAY);
	      skycons.play();
	    </script>

	  </div>
	  {% endfor %}
	</div>




	<div class="small-9 medium-9 large-9 cell">
	  <div class="primary callout">
	    {{ds}}
	    <br>
	    It is currently: {{ct}}
	    <br>
	    It feels like: {{at}}
	  </div>
	  <div class="primary callout">
	    <div class="grid-x grid-padding-x">

	      <div class="small-2 medium-2 large-2">
		{{fds[0]}}
		<br>
		{{fdpc[0]}} chance for {{fdpt[0]}}
		<br>
		It will be: {{fdt[0]}}
		<br>
		It will feel like: {{fdat[0]}}
	      </div>

	      <div class="small-2 medium-2 large-2">
		{{fds[1]}}
		<br>
		{{fdpc[1]}} chance for {{fdpt[1]}}
		<br>
		It will be: {{fdt[1]}}
		<br>
		It will feel like: {{fdat[1]}}
	      </div>

	      <div class="small-2 medium-2 large-2">
		{{fds[2]}}
		<br>
		{{fdpc[2]}} chance for {{fdpt[2]}}
		<br>
		It will be: {{fdt[2]}}
		<br>
		It will feel like: {{fdat[2]}}
	      </div>

	      <div class="small-2 medium-2 large-2">
		{{fds[3]}}
		<br>
		{{fdpc[3]}} chance for {{fdpt[3]}}
		<br>
		It will be: {{fdt[3]}}
		<br>
		It will feel like: {{fdat[3]}}
	      </div>

	      <div class="small-2 medium-2 large-2">
		{{fds[4]}}
		<br>
		{{fdpc[4]}} chance for {{fdpt[4]}}
		<br>
		It will be: {{fdt[4]}}
		<br>
		It will feel like: {{fdat[4]}}
	      </div>

	      <div class="small-2 medium-2 large-2">
		{{fds[5]}}
		<br>
		{{fdpc[5]}} chance for {{fdpt[5]}}
		<br>
		It will be: {{fdt[5]}}
		<br>
		It will feel like: {{fdat[5]}}
	      </div>

	    </div>
	  </div>
	</div>


      </div>
    </div>
  </div>
</div>

{% endblock %}
